

Name: <%= fish[:full_name] %><br>

Description: <%= fish[:description] %><br>



Water Type: <%= fish[:water] %><br>

<a href=<%= fish[:link] %>>Wikipedia Link</a><br>

<a href= "/" %> Home Page</><br>

<img src=<%= fish[:image] %>>
